<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./css/board.css">
</head>

<body>
  <h1>게시판</h1>
  <h2>총 게시글 수: <%= postCounts %></h2>
  <a class="btn btn--write" href="/board/post/write">글쓰기</a>
  <a class="btn orange" href="/login/logout">로그아웃</a>
  <ul class="post_container">
    <% if(postCounts > 0) { %>
    <% for (let i = 0; i < postCounts; i++) { %>
    <li class="post">
      <div class="author">
        작성자 : <%= POST[i].userName ? POST[i].userName : POST[i].id  %>
      </div>
      <span class="title"><%= POST[i].title %></span>
      <div class="content"><%= POST[i].content %></div>
      <div class="btn_container">
        <% if (POST[i].id === userId) { %>
        <a class="btn btn--modify" href="/board/modifyMode/<%= POST[i].title %>">수정</a>
        <a class="btn btn--delete" href="/board" onclick="deletePost('<%= POST[i].title %>');">삭제</a>
        <% } %>
      </div>
    </li>
    <% } %>
    <% } else { %>
    <li>포스트가 없습니다.</li>
    <% } %>
  </ul>
</body>

<script>
  function deletePost(title) {
    fetch(`http://localhost:4000/board/${title}`, {
      method: 'delete',
      headers: {
        'Content-type': 'application/json'
      },
    }).then((res) => {
      console.log(res);
    })
  }
</script>

</html>